//TODO **************

//factorise CSS
//variables css pour les couleurs

//*******************

$color-light: #ffffff;
$color-primary: #31A560;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  font-size: 1.6rem;
}

.header {
  background: $color-primary;
  padding: 2% 5% 0%;
  &_up {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      padding: 0 5rem;
      font-size: 0.8rem;
      margin: 0;
      li{
        padding: 0.5rem;
        &:last-child {
          border-left: 1px solid rgba(255, 255, 255, 0.5);
        }
        a {
          text-decoration: none;
          color: white;
        }

      }
    }
  }
  &_bottom {
    display:flex;
    align-items: center;
    nav {
      ul{
        margin: 0;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 2rem;
        padding: 0.5rem;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position:relative;
}

.insert {
  padding: 5rem;
  box-sizing: border-box;
  width: 100%;
  color: $color-primary;
  background: $color-light;

  &--green {
    background: $color-primary;
    color: $color-light;
  }
}

.error-message {
  background: red;
  color: white;
  padding: 0.5rem;
}

/* home */

.insert_logo{
  display:flex;
  justify-content: center;
  img {
    width: 40rem;
    height: 40rem;
    justify-content: center;
  }
}

.insert_stack {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 3rem;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}