:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist: "Geist VF", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-geist: "Geist VF", sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; /* Ajuste l'opacité pour un effet subtil */
  z-index: 1; /* Vidéo en fond */
  mix-blend-mode: darken; /* Applique un blend mode */
}

/* Adaptation de l'animation de la Piedra del Sol */
.piedraSol {
  position: absolute;
  z-index: -1;
  width: 100vw;
  object-fit: contain;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0.2;
}

/* Animation d'opacité lors de l'affichage de la Piedra del Sol */
@keyframes piedraFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.piedraSol {
  animation: piedraFadeIn 2s ease-in-out;
}

.logo {
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeInLogo 1.5s ease-in-out 0.5s forwards;
}

@keyframes fadeInLogo {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.st1 {
  stroke: #FFFFFF; /* Définit le contour en blanc */
  stroke-width: 2;
  fill: none; /* Désactive le remplissage */
}